@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #10cab7;
    --secondary-color: #2c3755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #572e2e;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border: none;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

.header {
    padding: 5px;
    background-color: #f6f6f6;
    position: sticky;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
    transition: var(--main-duration);
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% +15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -14px;

}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: var(--main-duration);
}

.header .links ul li a:hover {
    padding-left: 25px;
    color: #29a0ea
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #DDD;
}

header #mobile {
    display: none;
    align-items: center;
}

header #mobile {
    display: none;

}

#close {
    display: none;
}

#hero {

    right: 0;
    background-image: url("Images/hero2.jpg");
    width: 100%;
    height: 100vh;
    background-position: top 25% right 80%;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}

#hero h4 {
    padding: 15px;
    font-size: 20px;
}

#hero h1 {
    color: #0c7cb0;
}

#hero .h2background {
    font-size: 37px;
}

#hero a {
    text-decoration: none;
    /* background-image: url("Images/button.png"); */
    background-color: transparent;
    color: rgb(65, 89, 128);
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.section-p1 {
    padding: 40px 80px;
}

#h1beforefeatures {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 30px 40px 34px rgba(166, 68, 68, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;

}

#feature .fe-box:hover {
    box-shadow: 20px 60px 54px rgba(0, 0, 0, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: rgb(197, 247, 215);
}

#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(227, 200, 225);
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-style: 12px;
}

#product1 .pro .des h5 {
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 20px;
    color: rgb(243, 181, 25);
    text-align: center;
}

#product1 .pro .des i:hover {
    color: red;
}

#product1 .pro .cart {
    font-size: 20px;
    color: rgb(243, 181, 25);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .cart:hover {
    color: red;
}


#product1 .pro .des .h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}



.section-m1 {
    margin: 40px 0;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Images/Banners/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/newpic/banners/sm-banner\ .banner\ box\ 2.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#sm-banner .banner-box2 {
    background-image: url("Images/newpic/banners/sm-banner\ .banner\ box\ 1.jpg");
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/newpic/banners/banner\ 3\ p1.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url("Images/newpic/banners/banner\ 3\ p2.jpg");
}

#banner3 .banner-box3 {
    background-image: url("Images/newpic/banners/banner\ 3\ p3.jpg");
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: rgb(146, 35, 35);
    font-weight: 800;
    font-size: 15px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("Images/Banners/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

#newsletter p {
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

/*
footer .logo {
    margin-bottom: 30px;
}
*/

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 12px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow .copyright {
    padding-top: 20px;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    .header .links .icon {
        display: none;
    }


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 10px;
    }

    header #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: hsl(229, 40%, 92%);
        box-shadow: 0 40px 60px rgba(0, 0, 0, .02);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #prodetails {

        margin: 10px;
        align-items: center;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin: 10px;
    }

    #prodetails .single-pro-details h2 {
        padding: 30px;
        font-size: 20px;
    }

    #prodetails .single-pro-details select {

        padding: 15px 10px;
        margin: 10px;
        border: 2px solid;
    }

    #prodetails .single-pro-details input {
        width: 80px;
        height: 47px;
        padding-left: 10px;
        font-size: 16px;
        margin: 10px;
        border: 2px solid;
    }

    header #navbar.active {
        right: 0;
        z-index: 999;
    }

    header #navbar li {
        margin-bottom: 25px;
        z-index: 999;
    }

    header #mobile {
        display: flex;
        justify-content: flex-start;
        z-index: 999;
    }
  

    header #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        z-index: 999;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner {
        padding: 40px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

    /* contact page*/
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
}

.logo-header {
    padding-left: 20px;
}

.Logo {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 40px;
    color: #0b3b7e;
}

.Logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.7s;
}

.Logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.7s;
}

@media (max-width:1199px) {

    .Logo-header {
        padding-left: 20px;
    }

    .Logo {
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
        font-size: 40px;
        color: #0b3b7e;
    }

    .Logo.active {
        bottom: 0;
        opacity: 1;
        transition: ease-in-out 0.7s;
    }

    .Logo.fade {
        bottom: 150px;
        opacity: 0;
        transition: ease-in-out 0.7s;
    }

    .section-p1 {
        padding: 40px 40px;
    }

    #hero .h2background {
        font-size: 37px;
        color: #c0c0c0;
    }

    #hero p {
        display: none;
    }

    #hero h4 {
        font-style: italic;
        padding: 15px;
        font-size: 20px;
    }

    .header .links .icon {
        display: none;
    }

    #popup {
        background-color: #b7b9cb;
        display: block;
        text-align: center;
        font-size: 16px;
        color: #f6f6f6;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 20px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
        border-radius: 5px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 10px;
    }

    header #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: hsl(229, 40%, 92%);
        box-shadow: 0 40px 60px rgba(0, 0, 0, .02);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 999;
    }

    #prodetails {

        margin: 10px;
        align-items: center;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin: 10px;
    }

    #prodetails .single-pro-details h2 {
        padding: 30px;
        font-size: 20px;
    }

    #prodetails .single-pro-details select {

        padding: 15px 10px;
        margin: 10px;
        border: 2px solid;
    }

    #prodetails .single-pro-details input {
        width: 80px;
        height: 47px;
        padding-left: 10px;
        font-size: 16px;
        margin: 10px;
        border: 2px solid;
    }

    .active {
        z-index: 999;
    }

    header #navbar.active {
        right: 0;
        z-index: 999;
    }

    header #navbar li {
        margin-bottom: 25px;

    }

    header #mobile {
        display: flex;
        justify-content: flex-start;
        z-index: 999;
    }

    header #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner {
        padding: 40px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

    /* contact page*/
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

}


/* shop page */
#page-header {
    background-image: url(Images/Banners/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: white;
}

/* #pagination {
    text-align: center;

}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
} */

/* Single product */
#prodetails {
    display: flex;
    margin-top: 20px;

}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 30px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    padding: 40px 0 20px 0;
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: white;
    padding: 10px;
}

footer .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer p {
    font-size: 13px;
    margin: 12px;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

#prodetails .single-pro-details input {
    width: 80px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin: 10px;
    border: 2px solid;
}

#prodetails .single-pro-details select {

    padding: 15px 10px;
    margin: 10px;
    border: 2px solid;
}

/* About page */
#page-header.about-header {
    background-image: url(Images/About/banner.png)
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;
    line-height: 150%;
}

#about-app {
    text-align: center;
    padding: 2px;
}

#about-app h3 {
    margin-top: 5px;
}

#about-app .video {

    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact page */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 100%;
    margin-bottom: 30px;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 100%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* Blog Page */
#page-header.blog-header {
    background-image: url("Images/Banners/b19.jpg");
}

#blog {
    padding: 150px 150px 0 150px;

}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}


#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 100%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/* cart page */
#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e2;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
    text-align: center;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e2;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e2;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

@media (max-width:477px) {

    button .removeitem {
        text-align: center;
        color: #000;
        background-color: transparent;
        border: 0;
    }

    #hero .h2background {
        font-size: 37px;
        color: #201f1f;
    }

    #hero h4 {
        font-style: italic;
        font-size: 16px;
    }

    /* home page */
    button {
        position: relative;
        overflow: hidden;
        outline: none;
        width: 100%;
        cursor: pointer;
        border-radius: 50px;
        background-color: hsl(256, 12%, 75%);
        border: none;
        font-family: inherit;
        margin-top: 100px;
        text-align: center;
    }
    button.normal {
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        margin: 0px;
        color: #572e2e;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: 0.2s;
        border: none;
    }

    .default-btn span {
        color: hsl(0, 0%, 100%);
        font-size: 16px;
        text-align: center;
    }

    #banner h2 {
        color: #fff;
        font-size: 30px;
        padding: 10px;
    }

    #hero {
        right: 0;
        background-image: url("Images/hero2.jpg");
        width: 100%;
        height: 100vh;
        background-position: top 0% right 60%;
        padding-left: 80px;
    }

    #hero p {
        display: none;
    }

    #h1beforefeatures {
        margin-top: 30px;
        text-align: center;
    }

    #hero {
        display: flex;
        justify-content: flex-start;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    /* Contact page */
    #contact-details {
        flex-direction: column;
    }

    #page-header {
        width: 100%;
    }
    #page-header h2{
        font-size: 20px;
    }

    #contact-details .details {
        width: 100%;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    header #navbar.active {
        right: 0;
        z-index: 999;
        height: 60vh;
    }
    /* Cart page */
    #coupon input {
        padding: 10px 20px;
        outline: none;
        width: 100%;
        margin-right: 10px;
        border: 1px solid #e2e9e2;
    }
    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }

    /* shop page */

    .button-value {
        border: 1px solid rgb(127, 149, 152);
        border-radius: 20px;
        width: 30%;
        padding: 13px;
        font-size: 1px;
        cursor: pointer;
        margin: 15px;
        box-shadow: 0px 5px 5px #c0b7b7;
    }

    /* blog page */
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* About page */
    #page-header {
        background-image: url(Images/Banners/b1.jpg);
        max-width: 100%;
        height: 40vh;
        background-size: cover;
    }

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    #about-app h3 {
        padding-top: 10px;
    }

    #about-app .video {
        width: 100%;
    }

    /* style of logo */


    .Logo-header {
        padding-left: 20px;
    }

    .Logo {
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
        font-size: 40px;
        color: #0b3b7e;
    }

    .Logo.active {
        bottom: 0;
        opacity: 1;
        transition: ease-in-out 0.7s;
    }

    .Logo.fade {
        bottom: 150px;
        opacity: 0;
        transition: ease-in-out 0.7s;
    }
}

/*End of logo style*/

/* shop buttons */

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4px;

}

.button-value {
    background-color: rgb(78, 98, 136);
    color: #f6f6f6;
    border: 1px solid rgb(88, 107, 109);
    border-radius: 30px;
    width: 30%;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
    box-shadow: 0px 5px 5px #c0b7b7;
}

.active1 {
    right: -2000px;
}

.button-value:hover {
    background-color: #6a9db6;
    transition: 0.2s ease;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.245);
}

.hide {
    display: none;
}

/* 
contact us form */

.error-message {
    color: red;
}

.success-message {
    color: green;
}

#popup {
    background-color: rgb(212, 175, 175);
    display: block;
    text-align: center;
    font-size: 16px;
    color: black;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 5px;
}
/* login form */

.BodyLog {
    position: relative;
    min-height: 125vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.2s ease;
    z-index: 1;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    transition: none;
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;

}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btnLog {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}




.button-value {
    border: 1px solid rgb(127, 149, 152);
    border-radius: 30px;
    width: 30%;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
    box-shadow: 0px 5px 5px #c0b7b7;
}

.button-value:hover {
    background-color: #6a9db6;
    transition: 0.2s ease;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.245);
}

.removeitem {
    text-align: center;
    color: #000;
    background-color: transparent;
    border: 0;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4px;
}
/* scroll to bottom */
#btn-top {
    width: 50px;
    height: 50px;
    background-color: rgba(99, 119, 199, 0.819);
    position: fixed;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
}